[submodule "luajit"]
	path = luajit
	url = https://github.com/luajit/luajit
[submodule "luayaml"]
	path = luayaml
	url = https://github.com/exosite/lua-yaml
[submodule "json"]
	path = json
	url = https://github.com/rxi/json.lua
